<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finest</title>
    <meta
      name="description"
      content="Website Restaurant Finest yang menyediakan menu dan juga resep dalam pembuatan makanan yang lezat dan enak."
    />
  </head>
  <body>
    <a href="#theMealMenuLists" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header id="back">
      <div class="ham">
        <a id="hamburger" href="#" aria-label="navigation-menu" tabindex="0">☰</a>
      </div>
      <h1 tabindex="0">Finest</h1>
      <nav id="drawer">
        <ul>
          <li><a href="http://localhost:9000/" tabindex="0">Home</a></li>
          <li><a href="#" tabindex="0">Favourite</a></li>
          <li><a href="#theMeal" tabindex="0">TheMeal Recipe</a></li>
          <li><a href="https://github.com/vincentt14" tabindex="0">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main id="maincontent">
      <div class="hero" id="home"></div>
      <div class="content">
        <h2 tabindex="0">Restaurant Menu</h2>
        <div class="menuList" id="menuLists"></div>
        <h2 tabindex="0" id="theMeal">TheMealDB Recipe</h2>
        <div class="theMealMenuList" id="theMealMenuLists"></div>
      </div>

      <footer>
        <p>Copyright © 2022 - Finest</p>
      </footer>
    </main>
  </body>
</html>
