<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website Restaurant Finest yang menyediakan menu dan juga resep dalam pembuatan makanan yang lezat dan enak." />
    <meta name="theme-color" content="#2a2c41" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Finest</title>
  </head>
  <body>
    <a href="#menuLists" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header id="back">
      <div class="ham">
        <button id="hamburger" href="#" aria-label="navigation-menu" tabindex="0">☰</button>
      </div>
      <h1 tabindex="0">Finest</h1>
      <nav id="drawer">
        <ul>
          <li><a href="#/home" tabindex="0">Home</a></li>
          <li><a href="#/favourite" tabindex="0">Favourite</a></li>
          <li><a href="#/recipe" tabindex="0">TheMeal Recipe</a></li>
          <li><a href="https://github.com/vincentt14" tabindex="0">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main id="maincontent">
      <div class="hero" id="home"></div>
      <div class="content" id="content"></div>
    </main>

    <footer>
      <p>Copyright © 2022 - Finest</p>
    </footer>
  </body>
</html>
