@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #2a2c41;
  background-color: #f4f4f8;
  font-family: "Inconsolata", monospace;
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #ff724c;
  color: white;
  padding: 15px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

header {
  text-align: center;
  background-color: #f4f4f8;
}

header h1 {
  font-size: 40px;
  margin-top: 0;
  padding-top: 30px;
  
}

#drawer {
  width: 100%;
  height: 340px;
  position: absolute;
  transform: translate(-1000px, 0);
  transition: transform 0.3s ease-in-out;
  background-color: rgba(253, 191, 80);
  border: 1px solid #ff724c;
}

#drawer.open {
  transform: translate(0, 0);
}

#drawer ul {
  list-style-type: none;
  padding: 0 16px;
}

#drawer li {
  padding: 10px 0px;
}

#drawer a {
  text-decoration: none;
  font-size: 44px;
  color: black;
  font-weight: 600;
}

.closeNav:hover {
  color: grey;
}

.ham {
  background-color: #2a2c41;
  border: 1px solid #ff724c;
  padding: 5px;
}

#hamburger {
  background-color: transparent;
  border: none;
  font-size: 44px;
  padding: 5px;
  text-decoration: none;
  color: #fdbf50;
}

.hero {
  /* background-image: url("../public/images/heros/hero-image_2.jpg"); */
  width: 100%;
  height: 250px;
  border: 1px solid #ff724c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

picture > img{
  width: 100%;
  background-position: center;
  object-fit: cover;
}

.content {
  margin: 20px;
}

.content h2 {
  margin: 30px 0;
  font-weight: 400;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.post-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.post-item__content {
  padding: 16px;
}

.post-item__content a{
  text-decoration: none;
  color: #2a2c41;
}

.post-item__content a:hover{
  color: #ff724c;
  font-weight: bold;
  text-shadow: none;
}

.post-item__thumbnail {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
}

.post-item__rating {
  font-size: 20px;
  text-transform: capitalize;
}

.post-item__rating__value {
  color: #ff724c;
}

.post-item__title {
  font-weight: 500;
  font-size: 44px;
}

.post-item__title a{
  padding: 10px;
}

.post-item__description {
  font-size: 20px;
  line-height: 1.7em;
}

footer {
  background-color: #2a2c41;
  border-top: 1px solid #ff724c;
  padding: 10px;
  margin-bottom: 0;
}

footer p {
  text-align: center;
  font-size: 15px;
  color: #fdbf50;
}

.detailPage{
  text-align: justify;
  font-size: 16px;
}

.detailPage h2{
  text-align: center;
  text-shadow: none;
  font-size: 30px;
  color: #ff724c;
  font-weight: bold;
}

.restaurant__poster{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2c41;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 1px solid #ff724c;
  
  font-size: 18px;
  color: #fdbf50;
  cursor: pointer;
}

@media screen and (min-width: 344px) {
  #drawer {
    height: 305px;
  }
}

@media screen and (min-width: 550px) {
  header {
    display: grid;
    grid-template-columns: 2fr 6fr;
    /* position: fixed; */
  }

  header h1 {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #drawer {
    position: relative;
    height: 100%;
    transform: translate(0, 0);
    background-color: #2a2c41;
    border: 0.5px solid #333;
  }

  #drawer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #drawer a {
    padding: 15px;
    font-size: 15px;
    color: #fdbf50;
  }

  #hamburger {
    display: none;
  }

  .ham {
    display: none;
  }

  .hero img {
    height: 300px;
    background-position: center;
    background-size: cover;
  }

  .heroText {
    font-size: 30px;
  }

  .menuList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .post-item__rating {
    font-size: 20px;
    margin: 0px;
  }

  .post-item__title {
    font-weight: 500;
    font-size: 25px;
    margin: 10px 0;
  }

  .post-item__description {
    font-size: 15px;
    line-height: 1.7em;
    margin: 0;
  }

  .detailPage{
    font-size: 17px;
  }

  .grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
  }
  
  .restaurant__poster{
    height: 250px;
  }
}

@media screen and (min-width: 768px) {
  #drawer a {
    font-size: 18px;
  }

  .menuList {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .restaurant__poster{
    height: 310px;
  }

  .detailPage{
    padding: 0px 15px 0px 15px;
  }

  .like {
    width: 58px;
    height: 58px;
    font-size: 21px;
  }
}

@media screen and (min-width: 1024px) {
  .menuList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid{
    grid-template-columns: 3fr 3fr;
  }

  .restaurant__poster{
    height: 330px;
  }

  .like {
    width: 63px;
    height: 63px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1000px;
    height: 250px;
  }

  .detailPage{
    font-size: 20px;
  }
  
  .detailPage h2{
    font-size: 35px;
  }

  .restaurant__poster{
    height: 350px;
  }
}

@media screen and (min-width: 1800px) {
  .menuList {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
